.header {
    max-height: fit-content;
    height: 100%;
    width: 100%;
    padding: 53px 215px;
    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%), url("../images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;

    @media screen and (max-width: 1400px){
        padding: 53px 100px;
    }
    @media screen and (max-width: 1200px){
        padding: 53px 20px;
    }
    
}
.logo a img{

    @media screen and (max-width: 1060px){
        margin: 0 auto;
        margin-bottom: 20px;
        
    }
}

.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 223px;
    @media screen and (max-width: 1060px){
        display: block;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
        
    }


    
}

.menu-bar {

    max-width: 515px;
    width: 100%;

    @media screen and (max-width: 1060px){
        margin: 0 auto;
        margin-bottom: 20px;
        
    }

    & ul {

        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 768px){
            margin: 0 auto;
            margin-bottom: 20px;
            
        }
        @media screen and (max-width: 520px){
            display: none;
        }
    }
}

.menu_one,
.menu_two,
.menu_three,
.menu_four {
    width: 9px;
    height: 9px;
    border: 1px solid white;
    margin-right: 14px;
    border-radius: 50%;
}

.menu-item-1,
.menu-item-2,
.menu-item-3,
.menu-item-4 {
    display: flex;
    align-items: center;
    color: white;
}


.links {
    max-width: 160px;
    width: 100%;

    @media screen and (max-width: 1060px){
        margin: 0 auto;
        
    }



    & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 888px){

            margin: 0 auto;
        }

        & li {
            border: 1px solid white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    }
}

.heading {

    &-name {
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        letter-spacing: 0.1em;
        color: white;
        text-align: center;
        margin-bottom: 20px;

    }

    &-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        color: white;
        text-align: center;
        margin-bottom: 240px;
    }
}

.arrow-down {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        top: 0px;
    }

    50% {
        top: -20px;
    }

    100% {
        top: 0px;
    }
}